.body {

	background-image: url('blue-1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

#images{

	display: none;
}

.stars {
	max-height: 50px;
	max-width: 50px;
	min-height: 50px;
}

.stats {

	display: flex;
	justify-content: center;
	min-height: 63px;
}

#top-stats {

	display: flex;
	justify-content: center;
	min-height: 50px;
}

#numberOfStars{

	padding-bottom: 15px;
}

.reset{

	padding-top: 20px;

}

.resetButton{

	height: 60px;
	width: 85px;
	background-color: gray;
	border: groove;
	border-color: black;
	font-weight: bold;

}

.clickCountButton{

	height: 60px;
	width: 85px;
	background-color: gray;
	border: groove;
	border-color: black;
	font-weight: bold;
}

#timer {

	max-height: 50px;
	font-weight: bold;
	font-size: 1.75em;
	

}

.info {

	max-width: 200px;
}


.deck_of_cards {

	padding-right: 100px;
	padding-left: 100px;
	display: flex;
	justify-content: center;

}

.container_cards{

	max-width: 450px;
	display: flex;
	justify-content: center;


}


.card {
	max-width: 100px;
	max-height: 100px;
	background-image: url('stainless1.jpg') ;
	margin-right: 5px;
	margin-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	display: flex;
	justify-content: center;
	border: groove;
	border-color: black;


}

@media screen and (max-width: 450px){

.card {
	max-width: 70px;
	max-height: 70px;
	min-width: 65px;
	min-height: 65px;
	background-image: url('stainless1.jpg') ;
	margin-right: 5px;
	margin-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	display: flex;
	justify-content: center;
	border: groove;
	border-color: black;
}
}

.card_up{
	width: 100px;
	height: 100px;
	-webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

@media screen and (max-width: 450px){

.card_up{
	width: 65px;
	height: 65px;
	-webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
}

.match {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: ;
  }
  100% {
    background-color: white;
  }
}


.car{
	height: 100px;
	width: 100px; 
	min-width: 50px;
	padding-top: 0px;
	display: flex;
	justify-content: center;
	border: groove;
	border-color: black;


}

@media screen and (max-width: 450px){

.car{
	height: 65px;
	width: 65px; 
	padding-top: 0px;
	display: flex;
	justify-content: center;
	border: groove;
	border-color: black;
}
}


.card_down{
	
	opacity: 0;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;


}


.modal{

	display: none;
	position: fixed;
	
	max-width: 510px; 
    height: 320px;
    z-index: 1;
	top: 0;
	margin: auto;
	background-color: gray;
	
	
	border-style: groove;
	border-color: black;

}
.modal-header{

	display: flex;
	justify-content: center;
	text-align: center;
	border:gray;

}
.modal-body{

	display: flex;
	justify-content: center;
	text-align: center;
}

.modal-footer{

	display: flex;
	justify-content: center;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
	border: gray;
}

