.stars {
	max-height: 50px;
	max-width: 50px;
}


.card {
	max-width: 100px;
	max-height: 100px;
	background-color: lightblue;
	margin-right: 5px;
	margin-top: 5px;
	padding-right: 0px;
	padding-left: 0px;

}



.card_up{
	width: 100px;
	height: 100px;
}

.fa {
	
 	margin: 0px;
 	justify-content: center;
 	

}

.car{
	content:url(vintage-classic-car_925x.jpg);
	height: 100px;
	width: 100px; 
	padding-top: 0px;

}
.card_down{
	
	opacity: 0;

}